body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #297dd2;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #369457;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}
footer {
    background-color: #b7961f;
    padding: 10px;
    text-align: center;
}